<% provide(:title, "About") %>

<h1>About Sonar</h1>

<p>Sonar is my Twitter clone project while teaching myself Ruby on Rails. If you'd like to connect with me about tech, startups, or business, you can find me on <a href="http://twitter.com/justinraczak">Twitter</a>, <a href="http://linkedin.com/in/justinmraczak">LinkedIn</a>, or <a href="http://justinraczak.tumblr.com">Tumblr.</a> You can also check out my under construction website at <a href="http://justinraczak.com">justinraczak.com</a> or shoot me an email at jraczak on Gmail.</p>