<div class="center hero-unit">
  <h1>Welcome to Sonar!</h1>
    <p>My Twitter clone project as I learn Ruby on Rails.</p>

  <%= link_to "Sign up now!", "#", class: "btn btn-large btn-primary" %>
</div>

<%= link_to image_tag("rails.png", alt: "Rails"), "http://rubyonrails.org/" %>