<% provide(:title, @user.full_name) %>

<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= gravatar_for @user, size: 50 %>
        <%= @user.full_name %>
      </h1>
    </section>
  </aside>
</div>

<%= @user.email %>