<footer class="footer">
  <small>
    An educational journey in <a href="http://rubyonrails.org" target="_blank">Ruby on Rails</a> by <a href="http://justinraczak.com" target="_blank">Justin Raczak.</a>
  </small>
</footer>